/** GENERALI **//
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/** BODY **/
body{
    background-color: #f8ddb5;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow-y: hidden;
}

/** CONTAINER **/
.container{
    max-width: 1400px;
    width: 80%;
    height: 90vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

/** HEADER **/
header{
    display: flex;
}

.header-left{
    width: 30%;
    height: 70px;
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
}

.left-header{
    display: flex;
    align-items: center;
} 

.left-header img{
    height: 70px;
    vertical-align: center;
}

.right-header{
    display: flex;
    align-items: center;
}

.right-header i{
    font-size: 25px;
    color: #b1b1b1;
    padding-right: 25px;
}

.header-right{
    width: 70%;
    height: 70px;
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
    border-left: 1px solid lightgrey;

}

.header-right .left-header img {
    padding: 15px;
    border-radius: 50%;
}

.accesso{
    line-height: 0.5px;
    padding-left: 15px;
}

.accesso p{
    color: #b1b1b1;
}
/**FINE HEADER**/

/**LEFT **/
.left{
    width: 30%;
    height: calc(100% - 70px);
    float: left;
}

/**LEFT TOP **/
.left-top{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    background-color: #8edafc;
}
.text-notifiche{
    line-height: 0.5px;
    padding-left: 15px;
}

.text-notifiche p{
    color:#4a748d;
    text-decoration: underline;
}

.simbolo-notifiche{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f2fbff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}

.simbolo-notifiche i{
    font-size: 25px;
    color: #85d9fd;
}
/**FINE LEFT TOP**/

/**LEFT SEARCH**/
.left-search{
    width: 100%;
    height: 40px;
    background-color:#fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-search{
    height: 25px;
    width: 98%;
    background-color: white;
    color: #b1b1b1;
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    padding-left: 25px;
}

.container-search input{
    width: 100%;
    color: #b1b1b1;
    border: none;
    padding-left: 20px;
}
/**FINE LEFT SEARCH**/


/**INIZIO LEFT-BOTTOM**/
.left-bottom{
    width: 100%;
    height: calc(100% - 110px);
    background-color:#d5d3d5;
    overflow-y: scroll;
}

.notifiche-messaggi{
    height: 70px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    padding-left: 25px;
    border-bottom: 1px solid lightgray;
}

img.avatar{
    height: 60px;
    border-radius: 50%;
}

.text-messaggi{
    width: 100%;
    height: 70px;
    padding-left: 25px;
    position: relative;
    line-height: 6px;
}

.text-messaggi p{
    color: #b1b1b1;
    font-size: 15px;
}

.text-messaggi p.orario{
    text-align: right;
    position: absolute;
    right: 0;
    top: 0;
}
/**FINE LEFT-BOTTOM
/** RIGHT **/
.right{
    width: 70%;
    height: calc(100% - 70px);
    float: right;
}
/**CHAT**/
.chat{
    width: 100%;
    height: calc(100% - 70px);
    background-image:url('https://adamap.it/wp-content/uploads/2019/12/497ed7a4365b807096b6badb0d597b4f-438x461.jpg');
    overflow-y: scroll;
}

.ricevuto{
    height: 65px;
    width: 160px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    margin-left: 65px;
    margin-top: 10px;
    align-content: flex-end;
}

.primo{
    margin-top: 35px;
}

.messaggio p{
    text-align: center;
}

.messaggio small{
    text-align: right;
    padding-right: 8px;
    color: grey;
}

.inviato{
    height: 65px;
    width: 160px;
    background-color:#cefdb4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px; 
    margin-right: 65px;
    margin-top: 10px;
    float: right;
}
/**FINE CHAT**/

/**INPUT **/
.right-bottom{
    width: 100%;
    height: 70px;
    background-color: #f3eeea;
    display: flex;
    align-items: center;
}

.right-bottom i {
    font-size: 35px;
    padding-left: 20px;
    padding-right: 20px;
    color: grey;
}

.right-bottom input{
    height: 55px;
    width: 80%;
    border: 1px solid lightgray;
    padding-left: 15px;
}
/**FINE INPUT **/

